<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="../js/external.js"></script> -->
    {{!-- <script src="../js/external.js"></script> --}}
    <script src="../../public/js/external.js"></script>
    {{!-- <script src="C:\Users\raman\Desktop\Infoway-database\frontend\expressjs\web-server\public\js\external.js"></script> --}}
</head>

<body style="background-color: aqua;text-align: center;">
    <h2>this is contact page</h2>
    <button type="button" onclick="help()" >How</button>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quaerat ea recusandae delectus repellat? Rem
        dignissimos dolores, corrupti quasi, necessitatibus alias distinctio officiis ipsum ducimus sit non est
        molestias
        nobis!
    </p>

</body>

</html>